@using System.Web.Mvc.Html
@{
    ViewBag.Title = "AutoCoders Interview Test";
}

<div class="row">
    <div class="col-xs-12">
        <h1>AutoCoders Interview Test Mobile</h1>
        <h1>@Html.ActionLink("Manufacturers", "../Range/List")</h1>
</div>
</div>